HOMEWORK 3<br>
COPY FUNCTIONALITY FROM <a target="_blank" HREF="http://todomvc.com/examples/angularjs/#/active" > examples/angularjs </a><br><br><br>

TYPE SOMETHING AND HIT "ENTER":<br>
<input type="text" (keydown.enter)="setInfo($event)" />
<ul>
<li *ngFor="let info of infoArr">
  <app-child-info  [infoChild]="info" (out)="receiveEvent($event)"> </app-child-info>
</li>

</ul>
 <div *ngIf="this.infoArrOriginal.length>0">
    <button (click)="strikeAll()" >Select/unselect All</button>
    <button (click)="showAll()" >All</button>
    <button (click)="showActive()" >Active</button>
    <button (click)="showCompleted()" >Complete</button>
    <button (click)="clearCompleted()" >Clear Completed</button>
 </div> 


